.trimTitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.trimDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

#view-job-btn:hover{
    color: white
}

.hideCate{
    display: none
}

.maxImage{
    max-width: 2.5rem;
}